* {
    font-family: sans-serif;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

#root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.userCard {
    width: 100%;
    padding: 25px;
    background: #fbbf24;

    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.userCard ul {
    list-style-type: none;
}

.userCard ul li span{
    font-weight: bold;
}
.userCard ul li {
    font-size: 20px;
}